:root{
    --animate-speed: 1s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: #BODBF1;
    /* overflow: hidden; */
}

.nav-bar {
    height: 15vh;
    color: rgb(255, 255, 255);
    background-color: blue;
    /* display: flex; */
}

.nav-wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#links {
    list-style-type: none;
    display: flex; 
}

#links li {
    margin-right: 60px;
    font-size: 1.5rem;
    /* text-align: center; */
}

#links li a {
    color: #fff;
}

#links a {
    text-decoration: none;
}

#page-1 {
  background-image: linear-gradient(to right bottom, rgba(80, 92, 153, 0.3), rgba(0, 30, 142, 0.7)), url('img/TiideLab--Image.jpg');
  background-size: cover;
}
#page-2 {
    background-image: linear-gradient(to right bottom, rgba(80, 92, 153, 0.3), rgba(2, 92, 153, 0.9)), url('img/TiideLab-Image-2.jpg');
    background-size: cover;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 4rem;
}

.page h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin: 1rem;
}

.page p {
    font-size: 1.3rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #f4f4f4;
    color: #333;
    text-decoration: none;
    border: none;
    margin-top: 1rem;
    font-size: 1.1rem;
    transition: all 0.3s ease-in;
}

.btn:hover,
.btn-dark{
    background-color: #333;
    color: #fff;
}

.btn-dark:hover{
    background-color: #f4f4f4;
    color: #333;
}

#page-1 h1 {
    transform: translateY(-1200px);
    animation: heading var(--animate-speed) forwards ease-in;
}

/* section{
    margin-top: 4.8rem;
} */
.gallery{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding: 1.6rem;
    width: 100%;
    /* position: relative; */
}

#gallery h2, 
#portfolio h3 {
    color: #333;
    text-align: center;
    font-size: 3rem;
}

.gallery-items{
    overflow: hidden;
}
.gallery-items img{
    display: flex;
    width: 100%;
    /* position: absolute; */
    /* height: 20rem; */
    transition: all 0.4s;
    border-radius: 5px;

}

.gallery-items img:hover{
    transform: scale(1.1);
}

.grid-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1.6rem;
  }

.portfolio {
    position: relative;
    /* overflow: hidden; */
  }
  
  .portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  img{
  width: 90%;
  }

.portfolio-overlay:hover {
    opacity: 1;
}

.portfolio-overlay h3,
.portfolio-overlay p {
    margin: 0;
    padding: 10px;
    text-align: center;
}


@keyframes heading {
    to {
        transform: translateY(0);
    }
}

#page-1 p {
    transform: translateX(-1800px);
    animation: text  var(--animate-speed) forwards ease-in 2s;
}


@keyframes text {
    to {
        transform: translateX(0);
    }
}

#page-1 .btn {
    transform: translateY(1800px); 
    animation: button var(--animate-speed) forwards ease-in 3s;
}

@keyframes button {
    to {
        transform: translateY(0); 
    }
}

/* Media */

